h1{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.615);
}
.paragraph{
    text-align: center;
}
.aboutthis{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}